.container {
    width: 100%;
    height: 100%;
    flex-direction: column;

    .header {
        min-height: 65px;
        display: flex;
        align-items: center;
        margin: 0 16px;

        & span {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
        }
    }

    & span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    .descriptionBlock {
        height: 128px;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 16px;

        .leftTitleBlock {
            width: 20%;
        }

        & textarea {
            width: 75%;
            height: 100px;
            resize: none;
            padding: 10px 16px;
            border: 1px solid #c7c7c7;
            border-radius: 4px;
        }
    }

    .citySelect {
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        margin: 0 16px;

        .leftTitleBlock {
            width: 20%;
        }

        & select {
            width: 77.5%;
        }
    }

    .adress {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 16px;
        
        .leftTitleBlock {
            width: 20%;
        }
    }

    .callMethod {
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        margin: 0 16px;

        .leftTitleBlock {
            width: 20%;
        }

        & select {
            width: 77.5%;
            height: 40px;
            border: 1px solid #c7c7c7;
            border-radius: 4px;
            padding: 2px;
            padding: 10px 16px;
        }
    }

    .price {
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        margin: 0 16px;

        .leftTitleBlock {
            width: 20%;
        }

        .selectPrice {
            width: 77.5%;
            display: flex;
            justify-content: space-between;

            & input {
                width: 45%;
                height: 18px;
                padding: 0;
                border: 1px solid #c7c7c7;
                border-radius: 4px;
                padding: 10px 16px;
            }

            & select {
                width: 45%;
                height: 40px;
                border: 1px solid #c7c7c7;
                border-radius: 4px;
                padding: 2px;
                padding: 10px 16px;
            }
        }
    }

    .requirements {
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        margin: 0 16px;

        .leftTitleBlock {
            width: 20%;
        }

        .checkRequirements {
            width: 77.5%;
            display: flex;
        }
    }
}
