.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid;
    background-color: #eaf4fd;

    & a {
        text-decoration: none;
        cursor: pointer;
        color: black;
    }

    .activeLink {
        font-size: 25px;
    }
}